
/* Shared style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --turtiary-color: #424247;
    --description-color: #5A5A5D;
    --white-color: #ffff;
    --text-color: #5A5A5D;
    --light-text-color: #777777;
    --border-color: #E0E0E0;

    --font-family: "Mulish", serif;
    --heading-font-weight: 700;
    --text-font-weight: 300;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;

    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

*{

    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.description{
    font-size: 1.6rem;
    font-weight:300;
    color: var(--description-color);
}

.btn{
    width: 174px;
    height: 52px; 
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 2rem;
    font-weight: 700;
}
/* Header style */
header{
    padding: 50px 350px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
nav .menu{
    display: none;
}
.logo{
    display: flex;
}
.logo h2{
    font-weight: 800;
    font-size: 3.6rem;
    margin-left: 10px;
}
.logo h2 .travel{
    color: var(--primary-color);
}
ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 45px;
    font-size: 1.8rem;
    color:var(--turtiary-color);
}

nav li:first-child{
    font-weight: bold;
    color: var(--primary-color);
}

nav li:last-child{
    margin-right: 0px;
}


.banner{
    /* border: #131318 solid 1px; */
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.0)), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    width: 100%;
    height: 500px; 
    border-radius: 16px;
    background-position: center;
}

.banner-content{
    width: 650px;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}
.banner-content h2{
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--white-color);
}
.banner-content .description{
    color: white;
}

.banner-search{
    /* width: 800px;  */
    height: 84px; 
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 8px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 70px 185px;
}
.input-wrapper{
    width: 174px;
    height: 52px;
    background-color: white;
    border-radius: 8px;
    display: flex;   
    align-items: center;
}
.input-wrapper img{
    width: 24px;
    height: 24px;

}
input{
    border: none;
    width: 100px;
    margin-left: 30px;
}
.banner-search .btn{
    font-size: 1.6rem;
    font-weight: 600;
}
/* ---------------------------------- */



/* ----------Responsive for phone--------- */

@media screen and (max-width: 600px) {
    header{
        padding: 20px
    }
    .logo img{
        width: 28px;
        height: 33px;
    }
    .logo h2{
        font-size: 2rem;
        padding-top: 5px;
    }
    nav ul{
        display: none;
    }
    nav .menu{
        display: block;
    }
    
    .banner-content {
        width: 345px;
        text-align: center;
        padding-top: 30px;
        
    }
    .banner-content h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .banner-search{
        width: 340px;
        height: 320px;
        margin: 20px auto;
        flex-direction: column;
    }
    .banner-search .input-wrapper, .banner-search .btn{
        width: 300px;
        justify-content: space-between;
        padding: 5px 10px;
    }
}